.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Reduce the height of the container */
  margin-top: 60px;
 
}

.form-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Limit the width of the form box */
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-button {
  margin-top: 1.5rem;
  background-color: #4caf50; /* Change button color to green */
  color: #fff;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #388e3c; /* Darker shade of green on hover */
}
.link1{
    
  padding-top:20px;
}